<% content_for :breadcrumb do %>
  <li class="breadcrumb-item active" aria-current="page">
    Reporte de Informe Personalizado
  </li>
<% end %>
<%= form_for @header_attendance_meeting, url: upload_meeting_report_admins_path do |f| %>
  <input type="hidden" name="type_of_meeting_code" value="<%= @type_of_meeting.code %>">
  <%= render partial: 'layouts/errors', locals: {errors: @header_attendance_meeting.errors} %>
  <div class="card">
    <div class="card-header">
      <h2>Subir Informe <%= @type_of_meeting.name %></h2>
    </div>
    <div class="card-body">
      <%= render partial: "admins/report_meeting/form", locals: {f: f} %>
    </div>
    <div class="card-footer text-muted">
      <%= f.submit("Guardar Informe", {class: 'btn btn-primary'}) %>
      <%= link_to 'Atrás', root_path, class: 'btn btn-danger' %>
    </div>
  </div>
<% end %>

<% content_for :scripts do %>
  <%= javascript_pack_tag 'main-app/src/admins/generate_meeting_report' %>
<% end %>