<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @admin.token %>
</p>

<p>
  <strong>Code:</strong>
  <%= @admin.code %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
