<% content_for :breadcrumb do  %>
  <li class="breadcrumb-item active" aria-current="page">
    Editar Persona
  </li>
<% end %>

<div class="card">
  <div class="card-header">
    <h2>Rellena el Formulario</h2>
    <small class="text-muted">Cualquier persona registrada estará bajo su liderazgo</small>
  </div>
  <div class="card-body">
    <%= form_for @person, url: person_path do |f| %>
      <%= render partial: 'layouts/errors', locals: {errors: @person.errors }  %>
      <%= render partial: 'form', locals: {person: @person, f: f} %>
      <%= f.submit("Editar",{class: 'btn btn-primary'})%>
      <%= link_to 'Atrás', people_path, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_pack_tag 'main-app/src/people/edit'%>
<% end %>