<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_of_meeting.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @type_of_meeting.description %>
</p>

<p>
  <strong>Code:</strong>
  <%= @type_of_meeting.code %>
</p>

<%= link_to 'Edit', edit_type_of_meeting_path(@type_of_meeting) %> |
<%= link_to 'Back', type_of_meetings_path %>
