<% content_for :breadcrumb do  %>
  <li class="breadcrumb-item active" aria-current="page">
    Listado de Usuarios
  </li>
<% end %>

  <div class="d-flex position-absolute" style="bottom: 10%; right: 2%">
    <a  href="<%= new_user_credential_path %>" class="btn shadow btn-lg bg-dark rounded-pill">
      <i class="fas fa-plus text-white"></i>
    </a>
  </div>

  <div class="row">
    <div class="col shadow-sm">
      <table
        data-toggle="table"
        data-search="true"
        data-show-refresh="true"
        data-show-toggle="true"
      >
        <thead>
        <tr>
          <th>Nombre Completo</th>
          <th>Teléfono</th>
          <th>Dirección</th>
          <th>Correo Eletrónico</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <% @people.each do |person| %>
            <td><%= person.full_name %></td>
            <td><%= number_to_phone(person.phone_number) %></td>
            <td><%= person.address %></td>
            <td><%= person.user.email %></td>
            <td>
              <a href="#" class="text-info mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                <i class="fas fa-info"></i>
              </a>
              <a href="#" class="text-primary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                <i class="fas fa-edit"></i>
              </a>
              <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          <% end %>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

<% content_for :scripts do %>
  <%= javascript_pack_tag 'main-app/src/user_credentials/index'%>
<% end %>
