<% content_for :breadcrumb do  %>
  <li class="breadcrumb-item active" aria-current="page">
    Nuevo Usuario
  </li>
<% end %>

<div class="card">
  <div class="card-header">
    Rellena el Formulario
    <%= link_to("Asignar", new_with_linked_person_user_credentials_path, class: 'float-right btn btn-outline-dark') %>
  </div>
  <div class="card-body">
    <%= form_for @church_men, url: user_credentials_path do |f| %>
      <%= render partial: 'layouts/errors', locals: {errors: @church_men.errors }  %>
      <%= render partial: 'form', locals: {admin: @church_men, f: f} %>
      <%= f.submit("Crear",{class: 'btn btn-primary'})%>
      <%= link_to("Volver", user_credentials_path) %>
    <% end %>
  </div>
</div>