<%= form_with(model: church_man, local: true) do |form| %>
  <% if church_man.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(church_man.errors.count, "error") %> prohibited this church_man from being saved:</h2>

      <ul>
        <% church_man.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :token %>
    <%= form.text_field :token %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
