<div class="form-row">
  <div class="form-group col-md-5">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Nombre del Curso' %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control', placeholder: 'Descripción' %>
  </div>
  <div class="form-group col-md-1">
    <%= f.label :code %>
    <%= f.number_field :code, class: 'form-control', placeholder: 'Código' %>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header text-center">
        Temas
      </div>
      <div class="card-body">
        <%= f.fields_for :course_topics do |course_topic| %>
          <div class="form-row">
            <%= render 'course_topic_fields', f: course_topic %>
          </div>
        <% end %>
        <%= link_to_add_association 'Agregar Temas', f, :course_topics, {class: 'btn btn-outline-primary btn-sm', role: 'button'} %>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header text-center">
        Pre Requisito de Asistencia
      </div>
      <div class="card-body">
        <%= f.fields_for :prerequisites do |prerequisite| %>
          <div class="form-row">
            <%= render 'prerequisite_fields', f: prerequisite %>
          </div>
        <% end %>
        <%= link_to_add_association 'Agregar Pre-requisito', f, :prerequisites, {class: 'btn btn-outline-primary btn-sm', role: 'button'} %>
      </div>
    </div>
  </div>

</div>