<p id="notice"><%= notice %></p>

<h1>Type Of Courses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_of_courses.each do |type_of_course| %>
      <tr>
        <td><%= type_of_course.name %></td>
        <td><%= type_of_course.description %></td>
        <td><%= type_of_course.code %></td>
        <td><%= link_to 'Show', type_of_course %></td>
        <td><%= link_to 'Edit', edit_type_of_course_path(type_of_course) %></td>
        <td><%= link_to 'Destroy', type_of_course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type Of Course', new_type_of_course_path %>
