<% content_for :breadcrumb do  %>
  <li class="breadcrumb-item active" aria-current="page">
    Nuevo Tipo de Curso
  </li>
<% end %>

<div class="card">
  <div class="card-header">
    Rellena el Formulario
  </div>
  <div class="card-body">
    <%= form_for @type_of_course do |f| %>
      <%= render partial: 'layouts/errors', locals: {errors: @type_of_course.errors }  %>
      <%= render partial: 'form', locals: {type_of_course: @type_of_course, f: f} %>
      <%= f.submit("Guardar",{class: 'btn btn-primary'})%>
      <%= link_to 'Atrás', type_of_courses_path, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>

<% content_for :scripts do %>

<% end %>