<div class="form-row">
  <div class="form-group col-12 col-sm-12 col-md-3">
    <%= f.label :topic %>
    <%= f.text_field :topic , class: 'form-control'%>
  </div>
  <div class="form-group col-12 col-sm-12 col-md-3">
    <%= f.label :attendance_date %>
    <%= f.date_field :attendance_date, class: 'form-control'%>
  </div>
  <div class="form-group col-12 col-sm-12 col-md-3">
    <%= f.label :offerings %>
    <%= f.number_field :offerings, step: 0.01 , class: 'form-control'%>
  </div>
  <% display_none = unless @meeting.attendance_control %>

  <div class="form-group col-12 col-sm-12 col-md-3 <%= display_none ? 'd-none': nil %>" id="total-attendees-custom">
    <%= f.label :total_attendees%>
    <%= f.number_field :total_attendees, class: 'form-control'%>
  </div>
  <% end %>
</div>
<div class="form-group">
  <%= f.label :prayer %>
  <%= f.text_field :prayer , class: 'form-control'%>
</div>

<div id="has-attendance-control" class="<%= display_none ? 'd-none': nil %>">
  <div class="row">
    <div class="col-12">
      <h3 class="text-info text-center">
        Asistencia
      </h3>
      <a href="<%= new_express_people_path %>" data-remote="true" class="btn btn-warning mb-3 float-right button">
        Registrar Persona
      </a>
    </div>
    <div class="col-12">
      <%= render partial: 'admins/report_meeting/attendance_table' %>
    </div>
  </div>
</div>