<% content_for :custom_head do %>
  <%= stylesheet_link_tag 'login' %>
<% end %>

<div class="row my-5">
  <div class="col my-5 w-50 p-5">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-header text-center bg-primary text-white">
          Bienvenido a la Iglesia pueblo de Dios 12
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Ingresa tus Credenciales</h5>
          <div class="form-group justify-content-center align-items-center">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-md', placeholder: "Correo Electrónico" %>
          </div>
          <div class="form-group justify-content-center align-items-center">
            <%= f.label :password %><br/>
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control form-control-md', placeholder: "Contraseña" %>
          </div>

          <%= render 'users/shared/error_messages' %>

          <div class="form-group form-check">
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me, class: 'form-check-input' %>
                <%= f.label :remember_me, class: 'form-check-label' %>
              </div>
            <% end %>
          </div>
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>