<!DOCTYPE html>
<html>
  <head>
    <title>DudMain</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application'%>

    <%= yield :custom_head %>

  </head>

  <body>
  <%= render 'layouts/menu' %>
  <%= render 'layouts/breadcrumb' %>
  <div class="container">
    <%= yield %>
  </div>
    <%= yield :scripts %>
  </body>
</html>
